<!DOCTYPE html>
<!--名前空間の宣言。thを持つ属性をThymeleafの属性として認識させることができる-->
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生登録フォーム</title>
</head>
<body>
<h1>受講生登録フォーム</h1>
<form th:action="@{/students/new}" th:object="${studentDetail}" method="post">
  <div>
    <label for="fullname">氏名（必須）:</label>
    <input type="text" id="fullname" th:field="*{student.fullname}" required/>
  </div>
  <div>
    <label for="furigana">ふりがな（必須）:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム（任意）:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <div>
    <label for="mail">メールアドレス（必須）:</label>
    <input type="text" id="mail" th:field="*{student.mail}" required/>
  </div>
  <div>
    <label for="address">住所（任意）:</label>
    <input type="text" id="address" th:field="*{student.address}"/>
  </div>
  <div>
    <label for="age">年齢（任意）:</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="gender">性別（任意）:</label>
    <input type="text" id="gender" th:field="*{student.gender}"/>
  </div>
  <div>
    <label for="remark">備考（任意）:</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div>
    <label for="courseName">受講生コース:</label>
    <input type="text" id="courseName" th:field="*{studentCourse[0].courseName}" required/>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>
